<div class="block-book">
  <a href="#">
    <img
      class="block-book__img"
      src="images/no-image.svg"
      alt="Image of the book"
    />
  </a>
  <main class="block-book__body">
    <h2 class="block-book__title">Book Title</h2>
    <h3 class="block-book__author">Author McName</h3>
    <div class="block-book__badges">
      <span>
        <i class="bi bi-star-fill fs-4"></i>
        <i class="bi bi-star-fill fs-4"></i>
        <i class="bi bi-star-fill fs-4"></i>
        <i class="bi bi-star-fill fs-4"></i>
        <i class="bi bi-star fs-4"></i>
      </span>
      <span class="block-book__price"> $10.25 </span>
    </div>
    <button class="btn btn-primary block-book__btn">Add to Cart</button>
  </main>
</div>
