.filter-sidebar {
  position: fixed;
  z-index: 2000;
  top: 0;
  height: 100vh;
  background: var(--color-background);
  display: grid;
  align-content: space-between;
  padding: 10rem 4rem 0;
  width: 50rem;
  font-size: 1.5rem;
  border-right: 1px solid black;
  height: 100vh;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.filter-sidebar.open {
  transform: translateX(0);
}

.filter-sidebar__title {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid black;
}

.filter-sidebar__filter__name {
  white-space: nowrap;
  min-width: 16rem;
  font-size: 2rem;
  font-weight: 400;
  align-self: center;
  margin: 0;
}

.filter-sidebar__filter {
  display: flex;
  margin: 2.5rem 0;
}

.filter-sidebar__btn {
  font-size: 2rem;
  margin: 0 8rem 4rem;
}

@media (max-width: 500px) {
  .filter-sidebar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .filter-sidebar__filter {
    display: grid;
  }

  .filter-sidebar__filter__name {
    margin-bottom: 1rem;
  }

  .filter-sidebar__btn {
    margin-top: 5rem;
    margin-left: 0;
    margin-right: 0;
  }
}
