<table class="cart-table">
    <tr class="cart-table__header">
        <th>Image</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>

    <tr class="cart-table__row">
        <td>
            <img class="cart-product__image" src="images/book.png" alt="" />
        </td>
        <td>The Design of Books</td>
        <td>Debbie Berne</td>
        <td>$ 18.00</td>
        <td>
          <span class="amount">
            <button class="amount__btn minus--gray">
              <i class="bi bi-dash-square-fill"></i>
            </button>

            <span class="amount__number">1</span>

            <button class="amount__btn plus--accent">
              <i class="bi bi-plus-square-fill"></i>
            </button>
          </span>
        </td>
    </tr>
    <tr class="cart-table__row">
        <td>
            <img class="cart-product__image" src="images/book.png" alt="" />
        </td>
        <td>The Design of Books</td>
        <td>Debbie Berne</td>
        <td>$ 18.00</td>
        <td>
          <span class="amount">
            <button class="amount__btn minus--gray">
              <i class="bi bi-dash-square-fill"></i>
            </button>

            <span class="amount__number">1</span>

            <button class="amount__btn plus--accent">
              <i class="bi bi-plus-square-fill"></i>
            </button>
          </span>
        </td>
    </tr>
</table>