.link {
  text-decoration: none;
  color: var(--bs-body-color);
}

.link--primary {
  font-weight: 500;
  color: var(--color-primary);
}

.link--primary:focus {
  outline-color: var(--color-primary);
}
