.hero {
  display: grid;
  height: 40%;
  grid-template-columns: 60% 40%;
  background: var(--color-primary);
  padding: 10rem 15%;
  margin-top: 7rem;
}

.hero__content {
  font-size: 2.5rem;
  align-self: center;
}

.hero__content p {
  padding: 1rem;
}

.hero_image {
  width: 100%;
  padding-left: 20%;
  align-self: center;
}

@media (max-width: 1224px) {
  .hero {
    padding-right: 5%;
    padding-left: 5%;
  }
  .hero_image {
    padding-left: 0;
  }
}

@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
    padding-right: 5%;
    padding-left: 5%;
  }
  .hero_image {
    order: -1;
  }
}
