<div class="review">
    <div class="review__avatar"> TW </div>
    <h3 class="review__heading">The Person</h3>
    <p class="review__content">
        I bought it 3 weeks ago and now come back just to say "Awesome". I realy
        enjoy it.
    </p>
    <span class="review__rating">
        <div>
          <i class="bi bi-star-fill fs-3"></i>
          <i class="bi bi-star-fill fs-3"></i>
          <i class="bi bi-star-fill fs-3"></i>
          <i class="bi bi-star-fill fs-3"></i>
          <i class="bi bi-star fs-3"></i>
        </div>
        <span class="review__date"> February 20, 2025 </span>
      </span>
</div>