.filter-selector {
  position: relative;
  white-space: nowrap;
  background: inherit;
  cursor: pointer;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 7rem;
}

.filter-selector__icon {
  margin-left: 0.5rem;
  transition: all 250ms ease;
}

.filter-selector__options {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 4rem;
  left: -1rem;
  background: inherit;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.filter-selector__option {
  list-style: none;
  padding: 0.75rem 3rem 0.75rem 1.5rem;
  cursor: pointer;
}

.filter-selector__option:hover {
  background-color: #e0e3e6;
  color: #666769;
}

.filter-selector__options {
  opacity: 0;
  transform: translateY(-6px);

  pointer-events: none;

  transition:
    opacity 0.18s ease,
    transform 0.18s ease;
}

.filter-selector.open .filter-selector__options {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.filter-selector::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1.5rem;
}

.filter-selector__icon.open {
  transform: rotate(180deg);
}
