<div class="book">
    <img class="book__img" src="images/no-image.svg" alt="book's image" />
    <div class="book__content">
        <h1 class="book__title">Book Title</h1>
        <div>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star fs-3"></i>
            <span class="book__rating">5.0</span>
        </div>
        <div class="grid grid--1x3">
          <span>
            <h2 class="book__details__title">Author</h2>
            <p class="book__details__value">Author McName</p>
          </span>
            <span>
            <h2 class="book__details__title">Publisher</h2>
            <p class="book__details__value">The Publishers</p>
          </span>
            <span>
            <h2 class="book__details__title">Year</h2>
            <p class="book__details__value">2025</p>
          </span>
        </div>
        <div>
            <h2 class="book__details__title">About</h2>
            <p class="book__details__value">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
                nemo inventore nam laboriosam dicta voluptatum suscipit quisquam
                ullam veritatis nesciunt cum officiis expedita, earum molestias
                sapiente, reiciendis minus blanditiis, nisi eveniet porro totam.
                Temporibus, sequi? Provident quidem tenetur fuga beatae, maxime
                eligendi voluptatem adipisci? Cum soluta enim reiciendis culpa
                natus.
            </p>
        </div>
        <span class="book__price">$18.99</span>
        <button class="btn btn-primary book__btn">Add to Cart</button>
    </div>
</div>