.page-numbers {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  width: fit-content;
}

.page-number,
.page-numbers i {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

.page-numbers i {
  cursor: pointer;
}

.page-number--current-page {
  background-color: var(--color-secondary);
}
