.block-review {
  display: grid;
}

.block-review__heading {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.block-review__heading__title {
  font-size: 1.5rem;
}

.block-review__heading__counts {
  color: #8f8f8f;
}

.block-review__btn {
  margin: 0;
  display: inline;
  width: 100%;
}

.block-review .review {
  padding: 3rem 0 2rem;
  border-bottom: 1px solid #f0f1f4;
}

.block-review .page-numbers {
  margin-bottom: 3rem;
}
