<div class="block block-review">
    <div class="block-review__heading">
        <div>
            <span class="block-review__heading__title"> Reviews </span>
            <span class="block-review__heading__counts">130</span>
        </div>
        <button class="btn btn-gray block-review__btn">
            Add reviews
            <img class="review__icon" src="images/reviews-icon.svg" alt="" />
        </button>
    </div>
    <div class="review">
        <div class="review__avatar">TW</div>
        <h3 class="review__heading">The Person</h3>
        <p class="review__content">
            I bought it 3 weeks ago and now come back just to say "Awesome". I
            realy enjoy it.
        </p>
        <span class="review__rating">
          <div>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star fs-3"></i>
          </div>
          <span class="review__date"> February 20, 2025 </span>
        </span>
    </div>
    <div class="review">
        <div class="review__avatar">TW</div>
        <h3 class="review__heading">The Person</h3>
        <p class="review__content">
            I bought it 3 weeks ago and now come back just to say "Awesome". I
            realy enjoy it.
        </p>
        <span class="review__rating">
          <div>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star fs-3"></i>
          </div>
          <span class="review__date"> February 20, 2025 </span>
        </span>
    </div>
    <div class="review">
        <div class="review__avatar">TW</div>
        <h3 class="review__heading">The Person</h3>
        <p class="review__content">
            I bought it 3 weeks ago and now come back just to say "Awesome". I
            realy enjoy it.
        </p>
        <span class="review__rating">
          <div>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star fs-3"></i>
          </div>
          <span class="review__date"> February 20, 2025 </span>
        </span>
    </div>
    <div class="review">
        <div class="review__avatar">TW</div>
        <h3 class="review__heading">The Person</h3>
        <p class="review__content">
            I bought it 3 weeks ago and now come back just to say "Awesome". I
            realy enjoy it.
        </p>
        <span class="review__rating">
          <div>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star-fill fs-3"></i>
            <i class="bi bi-star fs-3"></i>
          </div>
          <span class="review__date"> February 20, 2025 </span>
        </span>
    </div>
    <div class="page-numbers">
        <i class="bi bi-chevron-left"></i>
        <span class="page-number page-number--current-page">1</span>
        <span class="page-number">2</span>
        <span class="page-number">3</span>
        <span class="page-number">4</span>
        <span class="page-number">5</span>
        <i class="bi bi-chevron-right"></i>
    </div>
</div>