.cart-table {
  width: stretch;
  font-size: 1.5rem;
  border-radius: 20px;
  overflow: hidden;
}

.cart-table__header {
  background: var(--color-secondary);
  color: #8c8d95;
}

.cart-product__image {
  width: 3rem;
  padding: 0.3rem 0;
}

.cart-table th {
  font-weight: 400;
  padding: 1rem;
}

.cart-table th,
.cart-table td {
  padding-left: 1.5rem;
}

.cart-table__row {
  border-bottom: 1px solid var(--color-secondary);
}