.page-container {
  padding: 0 5.5rem;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 1024px) {
  .page-container {
    padding-left: 15%;
    padding-right: 15%;
  }
}
