.avatar {
  display: inline-block;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background: var(--color-primary);
  color: #fff;
  align-content: center;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}
