<div class="form-container">
  <div class="form">
    <h1 class="form__heading">Sign in</h1>
    <h2 class="form__sub-heading">MioBook</h2>
    <form action="">
      <input type="text" class="form-control" placeholder="Username" />
      <input type="text" class="form-control" placeholder="Password" />
      <button class="btn btn-secondary form__btn">Sign in</button>
      <p class="form__footer">
        Not a member yet?
        <a href="#" class="fw-semibold link">Sign Up</a>
      </p>
    </form>
  </div>
</div>
