:root {
  --color-primary: #f5efe7;
  --color-secondary: #eaecee;
  --color-accent: #16423c;
  --color-text: #010000;
  --color-text-light: #faf9ff;
  --color-text-gray: #909090;

  --color-headings: #1b0760;
  --color-body: #faf9ff;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

html {
  font-size: 62.5%;
}

body {
  /* margin: 10px; */
}

.role-option {
  border-radius: 8px;
  border: 2px solid #ccc;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  transition: 0.2s;
}

.role-heading {
  text-align: left;
}

input[type="radio"]:checked + .role-option {
  border-color: var(--color-accent);
  color: var(--color-accent);
  background-color: #f0f5f4;
}

.input__icon {
  padding: 0 1rem;
}