.main {
  margin: 1rem auto;
  padding: 0 20%;
}

.main__heading {
  margin: 5rem 0;
}

@media (max-width: 1700px) {
  .main {
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0 5%;
  }
}