.add-author {
  width: 42rem;
  background: #fff;
  border-radius: var(--border-radius);
  padding: 2.5rem 0 2rem;
}
.add-author__title {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.add-author__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  font-size: 1.5rem;
  padding: 0 4rem;
}

.add-author__btns {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin: 2rem;
  font-size: 2rem;
}
