.grid {
  display: grid;
  gap: 2.5rem;
  justify-content: center;
}

@media (min-width: 530px) {
  .grid {
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 22rem);
  }
}
