
.header {
  padding: 1rem 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: vw;
  height: 6rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.header__icon {
  width: 150px;
  height: 90%;
}

.header__btn {
  padding: 0.5rem 2rem;
}

.header__search-box {
  width: 70%;
  margin: 0 10%;
}

@media (max-width: 425px) {
  .header {
    font-size: 1.5rem;
  }

  .header__btn {
    padding: 0.5rem 1rem;
    font-size: inherit;
  }

  .header__icon {
    width: 100px;
  }

  .header__search-box {
    width: 70%;
    margin: 0 5%;
  }
}
