.wallet {
  background: #fff;
  border-radius: var(--border-radius);
  padding: 3rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr 18rem;
  row-gap: 1.5rem;
  column-gap: 3rem;
  font-size: 1.5rem;
}

.wallet__price {
  font-size: 3rem;
  font-weight: 500;
  grid-column: 1 / -1;
}

.wallet__btn {
  font-size: 1.8rem;
}

.wallet__btn,
.wallet__input {
  height: 4.5rem;
}

@media (max-width: 425px) {
  .wallet {
    grid-template-columns: 1fr;
  }
}
