.user-page {
  display: grid;
  row-gap: 6rem;
  column-gap: 9rem;
  margin-bottom: 7rem;
  padding-top: 0;
}

@media (min-width: 1024px) {
  .user-page {
    grid-template-columns: 1fr auto;
  }

  .user-page__wallet {
    order: -1;
  }

  .user-page__purchased-books {
    grid-column: 1 / -1;
  }
}
