.meow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4.25rem;
  cursor: pointer;
  transform: scale(1.6);
  margin-left: 1rem;
}

.meow-icon img {
  height: auto;
  width: 80%;
}
