.callback-page {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.callback-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradient-text {
  font-size: 3rem;
  font-weight: 500;

  background: linear-gradient(
    90deg,
    #111827 0%,
    #111827 35%,
    #e2e8f0 50%,
    #111827 65%,
    #111827 100%
  );
  background-size: 200% auto;

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  animation: shine 2.5s linear infinite;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}
